{% extends '::base.html.twig' %}

{% block site_description %}Aplicacion Symfony 2.3{% endblock %}

{% block head %}
    
    {% stylesheets 'bundles/rgvsite/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}      
    
    <title>Aplicacion Symfony 2.3 {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}    
    <div class="container">
        {% block content %}        
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        {% block titulo %}{% endblock %}
                    </h1>
                    <p>
                        {% block contenido_principal %}{% endblock %}
                    </p>
                    <p>
                        {% block contenido_secundario %}{% endblock %}
                    </p>
                </div>
            </div>
        </div>            
        {% endblock %}
    </div>
{% endblock %}

{% block body_end_before_js %}{% endblock %}